.loginForm {
    border-style:ridge;
    border-color: gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  
    .loginForm {
        margin-top: 50%; 
        margin-left: 30%;
        margin-right: 30%
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .loginForm {
        margin-top: 50%; 
        margin-left: 30%;
        margin-right: 30%
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .loginForm {
        margin-top: 40%;
        margin-left: 30%;
        margin-right: 30%
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .loginForm {
        margin: 30%
    }
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .loginForm {
        margin: 25%
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .loginForm {
        margin: 30%
    }
}

